@font-face {
    font-family: 'testfont';
    src: url('../Fonts/now.regular.otf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'testfont';
}

*:focus {
    outline: none;
}


body{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: yellow;
    


    h1{
        margin: 10px 0 10px 0;
    }

}

header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    width: 100%;
}

.contenedor_tarjetas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

article {
    /* Add shadows to create the "card" effect */
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    display: flex;
    width: 350px;
    background-color: white;
        flex-flow: column-reverse;
        justify-content: center;
        align-items: center;
        h1{
            margin: 15px 0 0 0;

        }


    div{
        margin: 10px 0 10px 0;
        width: 100%;
        

        div{
            width:100%;
            list-style-type: none;
            background-color: white;
            display: flex;
            justify-content: space-between;
            align-items: center;

            h4{
                width: 80%;
            }
        }

        .delbut{
            visibility: visible;
            margin-right: 17px;
            width: 18px;
            height: 18px;
            background-color: white;
            background-image: url("../Resources/icons8-delete-30.png");
            background-size: cover; 
            border: none;
            outline: none;
        }

        .movebut{
            visibility: visible;
            margin-left: 8px;
            width: 18px;
            height: 18px;
            background-color: white;
            background-image: url("../Resources/icons8-menu-vertical-50.png");
            background-size: cover; 
        }

        .delbut:hover{
            // box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.2);
             cursor: pointer;

         }

        .movebut:hover{
            // box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.2);
             cursor: move;
         }
     }
    }
  /* On mouse-over, add a deeper shadow */
article:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  

.button_container{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

    button{
        vertical-align: top;
        width: 150px;
        height: 60px;
        padding: 0;
        font-size: 22px;
        color: white;
        text-align: center;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
        background: #f1c40f;
        border: 0;
        border-bottom: 2px solid #e2b607;
        cursor: pointer;
        -webkit-box-shadow: inset 0 -2px #e2b607;
        box-shadow: inset 0 -2px #e2b607;
     }

    :hover{
        background: #cfa80c;
    }
     
    :focus {
        outline: none;
        background: #cfa80c;
    }

}

.Elementos.seleccionado{
    color: red;
    transform: rotate(2deg);
}

.Elementos.drag{
    opacity: 0;
}




.contenedor_addEx{
    visibility: hidden;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 15px 0 15px 0;
    background-color: white;
    padding-top: 10px;
    box-shadow: inset 0px 6px 0px 0px rgba(110, 108, 110, 0.452);

    button{
        margin: 10px 0 10px 0;
        position: relative;
        vertical-align: top;
        width: 100px;
        height: 40px;
        font-size: 22px;
        color: white;
        text-align: center;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
        background: #f1c40f;
        border:0;
        border-bottom: 2px solid #e2b607;
        cursor: pointer;
        -webkit-box-shadow: inset 0 -2px #e2b607;
        box-shadow: inset 0 -2px #e2b607;
     }
 }

.moreExercise{
    width: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #f3cd21;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #f3cd21;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 17px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .SelectCard{
	width: 225px;
    height: 40px;
    font-size: 18px;
    margin: 5px;
	cursor: pointer;
	background-color: white;
	box-shadow: 0 2px 0 rgb(145, 140, 140);
    border-radius: 2px;
    border: 1px solid rgb(145, 140, 140);
    appearance: none;
    padding-left: 10px;
   
    option{
        margin: 40px;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    }

    ::-ms-expand {
        display: none;
    }
    :hover {
        border-color: yelow;
    }
    :focus {
        border-color: red;
        box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
        box-shadow: 0 0 0 3px -moz-mac-focusring;
        color: green;
        outline: none;
    }

}


@media (max-width: 640px) {
    .Elementos.seleccionado{
        color: red;
        transform: none;
    }
    
    .Elementos.drag{
        opacity: 0;
    }

    article {
        ul{
            li{
    
                span{
                    width: 80px;
                    height: 35px;
                    background-size: 25px 25px;
                    visibility: visible;
                    opacity: 0.2;
                    background-repeat: no-repeat;
                    background-position: right;
                }

            }
    
            // li:hover{
            //     cursor: move;
            //         span{
            //             visibility: visible;
    
            //         }
            //         span:hover{
            //            // box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.2);
            //             cursor: pointer;
    
            //         }
    
            //     }
            // }
        }
  }
}

